
span{
  margin-right: 150px;
}
.background{
  background-color: #b9f6ca;
width: 1440px;
height: 1950px;
padding-top: 10px;
}
.content_post{
  background: url("449_1.jpg");
  margin: 0 auto;
  width: 600px;
  margin-top: 5px;
  opacity: 0.8;
  text-align: center;
  font-size: 24px;
  height: 350px;
}


